{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-10">
      <h1 class="fw-bold text-center mb-4">Detalles del Guardia</h1>
      {{error}}
      <form method="POST">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="form-container ml-2 mr-2">
              <!-- Ajustar el margen lateral -->

              {% csrf_token %} {{FormDatosPersonales.as_p}}
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="form-container ml-2 mr-2">
              <!-- Ajustar el margen lateral -->

              {% csrf_token %} {{FormCapacidades.as_p}}
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="form-container ml-2 mr-2">
              <!-- Ajustar el margen lateral -->

              {% csrf_token %} {{FormPuesto.as_p}}
            </div>
          </div>
        </div>

        <div class="text-center mt-3">
          <button class="btn btn-primary">Actualizar</button>
        </div>
      </form>

      <div class="text-center mt-3">
        <form
          action="{% url 'eliminar_guardia' DatosPersonalesGuardia.id %}"
          method="POST"
        >
          {% csrf_token %}
          <button class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}
