{% extends 'base.html' %} {% block content %}


<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Arlomont Cia. Ltda.</h1>
        
        <p>En la empresa de seguridad "ArlomontGuardias", nuestra dedicación se refleja en la presencia 
            constante de nuestros guardias y custodios, quienes son pilares fundamentales en la garantía 
            de la seguridad y protección de nuestros clientes y sus propiedades. </p>
        <p>
            Bienvenidos a nuestra plataforma, diseñada para simplificar la administración de perfiles de 
            guardias. Aquí, puedes crear nuevos perfiles, actualizar información existente y obtener detalles 
            detallados sobre cada guardia. Este aplicativo sigue el principio del sistema CRUD, ofreciendo una 
            solución completa y organizada para gestionar eficientemente nuestros recursos humanos en el campo 
            de la seguridad.</p>
        <p>    
            En ArlomontGuardias, la seguridad es nuestra prioridad, y esta plataforma está diseñada para 
            facilitar la gestión y garantizar un entorno seguro para todos. ¡Gracias por confiar en nosotros!
        </p>

        
       
    </section>

</main>

{% endblock %}
